@model TrashCollectorApplication.Models.Administrator

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Would you like to view Employees or Clients?</p>
@Html.ActionLink("Employee", "AllEmployees") |
@Html.ActionLink("Clients", "AllClients")
<table class="table">
    <tr>
        <td>
        </td>
    </tr>

</table>
