@model TrashCollectorApplication.Models.Administrator

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Admin Account.</h2>

<p>Would you like to view Employees or Clients?</p>

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Employee", "AllEmployees") |
            @Html.ActionLink("Clients", "AllClients")
        </td>
    </tr>

</table>
