@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "Welcome";
}

<h1>THIS IS THE CLIENTS PAGE</h1>

@Html.ActionLink("Edit Your Account", "Edit", new { id = Model.id })
@Html.ActionLink("Request a One Time Pickup", "RequestPickup", new { id = Model.id })
@Html.ActionLink("View Your Account", "Details", new {id= Model.id }) 
@Html.ActionLink("Suspend Your Pickups", "SuspendPickups", new { id = Model.id })