@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "Edit";
}

@section scripts{
    <script type="text/javascript">
            $(function() {
                $(".datepicker").datepicker();
    });
    </script>
}

<h2>RequestPickup</h2>

<p>What day would you like to schedule your pickup for?</p>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.OneTimePickupDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OneTimePickupDate, new { htmlAttributes = new { @class = "form-control datepicker", @id = "datepicker" } })
            @Html.ValidationMessageFor(model => model.OneTimePickupDayId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

@Html.ActionLink("Back To Home", "Index")
