@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "SeeWhatYouOwe";
}

<h2>SeeWhatYouOwe</h2>

<p>Currently you owe: $@Model.AmountOwed</p> 

@Html.ActionLink("Return to Home", "Index")

