@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "SeeWhatYouOwe";
}

<h2>SeeWhatYouOwe</h2>

<p>Currently you owe: </p> @Model.AmountOwed

@Html.ActionLink("Return to Home", "Index")

