@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "Filter";
}

<h2>Filter</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Employee</h4>

    <div class="form-group">
        <p>Please select the day you wish to filter by.</p>
        @Html.LabelFor(model => model.PickupDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PickupDayId, new SelectList(Model.PickupDays, "id", "GarbagePickupDay"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PickupDayId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enter" class="btn btn-default" />
</div>
    </div>
</div>
}
